In [2]:
import pandas as pd
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02   -0.150562
2011-01-05    2.025170
2011-01-07   -0.209302
2011-01-08   -0.338141
2011-01-10   -0.807670
2011-01-12    0.511833
dtype: float64

In [4]:
print("Date Index alone from the series: ",ts.index)

Date Index alone from the series:  DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [6]:
 stamp=ts.index[2]
print("Second index:", stamp)

Second index: 2011-01-07 00:00:00

In [10]:
#play like a ball with long-times series
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("Daterange up to 1000 days:",longer_ts)

Daterange up to 1000 days: 2000-01-01    0.233869
2000-01-02   -0.659315
2000-01-03   -1.420033
2000-01-04    1.011117
2000-01-05   -1.889700
                ...
2002-09-22   -0.792007
2002-09-23    1.567010
2002-09-24   -0.611721
2002-09-25   -0.114487
2002-09-26   -1.108059
Freq: D, Length: 1000, dtype: float64

In [12]:
print("Date range-2001 year:", longer_ts["2001"])

Date range-2001 year: 2001-01-01   -0.312882
2001-01-02   -1.050101
2001-01-03   -0.031458
2001-01-04   -0.141455
2001-01-05    0.606122
                ...
2001-12-27    0.875903
2001-12-28   -0.168297
2001-12-29   -1.305129
2001-12-30    0.624395
2001-12-31   -1.359841
Freq: D, Length: 365, dtype: float64

In [14]:
print("Date range-05 month 2001 year:", longer_ts["2001-05"])

Date range-05 month 2001 year: 2001-05-01    0.365013
2001-05-02    0.594972
2001-05-03    1.616358
2001-05-04    0.987553
2001-05-05   -0.995665
2001-05-06    0.367961
2001-05-07    0.630220
2001-05-08    1.300696
2001-05-09   -0.276589
2001-05-10   -0.086496
2001-05-11    0.417077
2001-05-12    0.135400
2001-05-13   -0.408163
2001-05-14    0.058904
2001-05-15    0.724438
2001-05-16   -0.176706
2001-05-17   -0.175110
2001-05-18   -1.351803
2001-05-19    0.268214
2001-05-20   -0.609779
2001-05-21   -0.357078
2001-05-22    0.020056
2001-05-23    2.334440
2001-05-24   -0.758456
2001-05-25   -0.870815
2001-05-26   -0.387491
2001-05-27   -0.693770
2001-05-28    0.308054
2001-05-29   -0.484264
2001-05-30   -0.966077
2001-05-31    0.309015
Freq: D, dtype: float64

In [16]:
print("Date range-first few dates in 2000 year:",longer_ts["2000"].head())

Date range-first few dates in 2000 year: 2000-01-01    0.233869
2000-01-02   -0.659315
2000-01-03   -1.420033
2000-01-04    1.011117
2000-01-05   -1.889700
Freq: D, dtype: float64

In [18]:
print("Date range-first 15 dates in 02 month 2001 year:",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year: 2000-02-01   -1.099506
2000-02-02   -2.405907
2000-02-03    1.100101
2000-02-04    1.102495
2000-02-05   -1.418146
2000-02-06   -1.404314
2000-02-07    0.693027
2000-02-08    1.176560
2000-02-09    0.682133
2000-02-10   -0.900450
2000-02-11    0.817036
2000-02-12   -1.173457
2000-02-13   -0.279243
2000-02-14    0.635959
2000-02-15   -0.416920
Freq: D, dtype: float64

In [20]:
print("Date range-rom 26-9-2001:",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001: 2000-09-26    0.360583
2000-09-27    0.459840
2000-09-28    0.307540
2000-09-29   -0.362359
2000-09-30    0.317777
                ...
2002-09-22   -0.792007
2002-09-23    1.567010
2002-09-24   -0.611721
2002-09-25   -0.114487
2002-09-26   -1.108059
Freq: D, Length: 731, dtype: float64